doctype html
head
    // Google tag (gtag.js)
    //- script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-K31ZS2NXYT')
    //- script.
    //-     window.dataLayer = window.dataLayer || [];
    //-     function gtag(){dataLayer.push(arguments);}
    //-     gtag('js', new Date());
    //-     gtag('config', 'G-KeyHERE');

    title hello
    link(rel="icon",type="image/png",href="https://i.imgur.com/P43jGLg.png")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    
    //css
    link(rel="stylesheet", href="main.css")
    //scripts
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js')
    //preload
    //  <link rel="preload" href="bg-image-narrow.png" as="image" media="(max-width: 600px)" />
    link(rel="preload", href="https://i.imgur.com/PnZb2Sf.png", as="image")
    link(rel="preload", href="https://i.imgur.com/ddLFJbc.png", as="image")
    link(rel="preload", href="https://i.imgur.com/lq8oSRB.png", as="image")
    link(rel="preload", href="https://i.imgur.com/UctDBfk.png", as="image")
    link(rel="preload", href="https://i.imgur.com/KDepWsI.png", as="image")
    link(rel="preload", href="https://i.imgur.com/aUz9G2l.png", as="image")
    link(rel="preload", href="https://i.imgur.com/hEUeNAP.png", as="image")
    link(rel="preload", href="https://i.imgur.com/o44GJT5.png", as="image")
body
    section#projectZone
        h1.sectionTopic Projects
        
        #projects
            .projectBtn(projectId="giftHelper") gift Helper 
            .projectBtn.codepen(projectId="PasteAnywhere") Paste Anywhere
            .projectBtn(projectId="characterMap") character Map 
            .projectBtn(projectId="collectionTimer") collection Timer 
            .projectBtn.codepen(projectId="colorPlate") color Plate
            .projectBtn.codepen(projectId="bootstrapSkrollr") bootstrap Skrollr
            .projectBtn.codepen(projectId="gameMap") game Map
            .projectBtn.codepen(projectId="youtubePlayer") youtube Player...
            //- todo js create

    #projectInfo 
        .infoCloseArea
        .infoCloseBtn X
        .scrollColumn
            .infoWrap
                .columnLeft
                    h1#infoTopic 標題唷
                    img#infoImg(src="", alt="")
                    br
                    a#infoLinkBtn(href="" target="_blank"  title="新分頁開啟") 開啟網頁
                .columnRight
                    #infoText info

    script(type='text/javascript', src='main.js')