doctype html
head
    // Google tag (gtag.js)
    //- script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-K31ZS2NXYT')
    //- script.
    //-     window.dataLayer = window.dataLayer || [];
    //-     function gtag(){dataLayer.push(arguments);}
    //-     gtag('js', new Date());
    //-     gtag('config', 'G-KeyHERE');

    title hello
    link(rel="icon",type="image/png",href="https://i.imgur.com/P43jGLg.png")
    link(rel="preconnect", href="https://fonts.gstatic.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?Hind+Vadodara:wght@300;400;500&display=swap")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    
    //css
    link(rel="stylesheet", href="main.css")
    //scripts
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js')
body
    section#projectZone
        h1.sectionTopic Projects
        
        #projects
            .projectBtn(projectId="giftHelper") gift Helper 
            .projectBtn.codepen(projectId="PasteAnywhere") Paste Anywhere
            .projectBtn(projectId="characterMap") character Map 
            .projectBtn(projectId="collectionTimer") collection Timer 
            .projectBtn.codepen(projectId="colorPlate") color Plate
            .projectBtn.codepen(projectId="bootstrapSkrollr") bootstrap Skrollr
            .projectBtn.codepen(projectId="gameMap") game Map
            .projectBtn.codepen(projectId="youtubePlayer") youtube Player...
            //- todo js create

    #projectInfo 
        .infoCloseArea
        .infoCloseBtn X
        .columnLeft
            h1#infoTopic 標題唷
            img#infoImg(src="", alt="")
            br
            a#infoLinkBtn(href="" target="_blank"  title="新分頁開啟") 開啟網頁
        .columnRight
            #infoText info

    script(type='text/javascript', src='main.js')