@mixin size($w, $h) {
    width: $w;
    height: $h;
}

// #F6BD60
// #F7EDE2
// #F5CAC3
// #84A59D
// #F28482
$mainColor: #588B8B;
$lightColor: #FFFFFF;
$subColor1: #FFD5C2;
$subColor2: #F28F3B;
$subColor3: #C8553D;

* {
    //font-family: 'Noto Serif TC', serif;
    font-family: 'Hind Vadodara', sans-serif, monospace;
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    // border: 1px solid #000;

    ::selection {
        background: $subColor3;
        color: $lightColor;
    }
}

header {
    width: 100%;
}

body {
    position: relative;
    padding: 50px;
    color: $mainColor;
    //background-color: $mainColor;
    // vertical
    // background: linear-gradient(0deg, rgba(88, 139, 139, .5) 0%, rgba(255, 255, 255, 0.4724264705882353) 47%, rgba(88, 139, 139, .5) 100%);
    // spark
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='54' height='54' viewBox='0 0 54 54'%3E%3Cg fill='%23588b8b' fill-opacity='0.3'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4' /%3E%3C/g%3E%3C/svg%3E");

    // cross
    // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23588b8b' fill-opacity='0.5'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    ::-webkit-scrollbar {
        display: none;
    }
}

.popup-open {
    overflow: hidden;
}

// #profile
section {
    @include size(100%, 100%);
    background-color: rgba($lightColor, .5);
    padding: 20px;
    margin: 20px 0px;
}

#profile {
    p {
        font-size: 18px;
        line-height: 30px;
    }
}

// hr {
//     border: 1px solid $subColor2;
//     margin: 5px 0px;
//     width: 20%;
// }

.sectionTopic {
    margin-bottom: 20px;
}

#projects {
    display: flex;
    flex-wrap: wrap;
}

.projectBtn {
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-size: 20px;
    @include size(200px, 200px);
    min-width: 200px;
    color: $subColor2;
    padding: 15px;
    margin: 5px;
    border: 1px solid rgba($subColor2, .5);

    &:before,
    &:after {
        content: "";
        position: absolute;
        @include size(5px, 5px);
        transition: all .3s;
    }

    &:after {
        border-top: 2px solid $subColor2;
        border-right: 2px solid $subColor2;
        top: 0px;
        right: -1px;
    }

    &:before {
        border-bottom: 2px solid $subColor2;
        border-left: 2px solid $subColor2;
        bottom: 0px;
        left: -1px;
    }

    &:hover {
        cursor: pointer;

        &:before,
        &:after {
            @include size(80%, 80%);
        }
    }

    &:active {
        color: $lightColor;
        background-color: $subColor2;
    }
}

.codepen {
    color: $mainColor;
    border: 1px solid rgba($mainColor, .5);

    &:after {
        border-top: 2px solid $mainColor;
        border-right: 2px solid $mainColor;
    }

    &:before {
        border-bottom: 2px solid $mainColor;
        border-left: 2px solid $mainColor;
    }

    &:active {
        background-color: $mainColor;
    }
}

#projectInfo {
    position: fixed;
    top: 0px;
    left: -50px;
    @include size(calc(100vw + 50px), 100%);
    padding: 50px;
    min-height: 510px;
    color: $lightColor;
    background-color: rgba(#333, .7);
    //todo trigger
    //$('#projectInfo').hide();
    display: none;
    text-align: center;

    .infoCloseBtn {
        cursor: pointer;
        position: fixed;
        display: inline-block;
        // todo section position
        top: 20px;
        // top: 250px;
        right: 15px;
        text-align: center;
        vertical-align: top;
        padding: 7px 10px;
        border-radius: 3px;
        font-size: 24px;

        &:hover {
            background-color: $lightColor;
            color: $subColor3;
        }

        &:active {
            background-color: $subColor3;
            color: $lightColor;
        }
    }

    .infoCloseArea {
        position: fixed;
        left: 0px;
        top: 0px;
        @include size(100%, 100%);
    }


    .columnLeft,
    .columnRight {
        display: flex;
        min-width: 290px;
        display: inline-block;
        max-width: 50%;
        vertical-align: top;
        text-align: center;
        margin: 0px 10px;
    }

    #infoTopic {
        padding: 10px;
    }

    #infoImg {
        max-width: 80%;
        max-height: 80%;
    }

    #infoLinkBtn {
        -webkit-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;
        cursor: pointer;
        margin-top: 20px;
        display: inline-block;
        margin-bottom: 10px;
        border: 1px solid $lightColor;
        padding: 7px 10px;
        border-radius: 3px;
        right: 0px;
        text-decoration: none;
        color: inherit;

        &:before {
            content: "";
            position: absolute;
            left: 0px;
            display: flex;
            top: 0px;
            @include size(0%, 90%);
            transition: all .3s;
            overflow: hidden;
            border-radius: 3px;
            color: $lightColor;
        }

        &:hover {
            &:before {
                display: flex;
                justify-content: center;
                align-items: center;
                content: "新分頁";
                @include size(100%, 100%);
                background-color: $mainColor;
            }
        }

        &:active {
            background-color: $mainColor;
            border: 1px solid $mainColor;
            color: $lightColor;
        }
    }

    #infoText {
        margin-top: 20px;
        letter-spacing: 1px;
        font-size: 18px;
        line-height: 30px;
        text-align: left;

        ul {
            //list-style-type: none;
        }

    }
}

/*#region backgroundEffect*/
.simpleBackgroundEffect {
    position: absolute;
    left: 0px;
    top: 0px;
    @include size(50px, calc(100% + 100px));
    background: linear-gradient(90deg, rgba($lightColor, .0), rgba($lightColor, .8), rgba($lightColor, .0));

    //animation: animHorizontal 10s ease-in infinite;
}

@keyframes animHorizontal {
    0% {
        left: 0%;
    }

    100% {
        left: 100%;
    }
}

/*#endregion */


/*#region TEST*/
/*#endregion */