@mixin size($w, $h) {
    width: $w;
    height: $h;
}

$mainColor: #588B8B;
$lightColor: #FFFFFF;
$subColor1: #FFD5C2;
$subColor2: #F28F3B;
$subColor3: #C8553D;

* {
    font-family: 'Hind Vadodara', sans-serif, monospace;
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    // border: 1px solid #000;

    ::selection {
        background: $subColor3;
        color: $lightColor;
    }
}

header {
    height: 0%;
    width: 100%;
}

body {
    position: relative;
    color: $mainColor;
    // spark
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='54' height='54' viewBox='0 0 54 54'%3E%3Cg fill='%23588b8b' fill-opacity='0.3'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4' /%3E%3C/g%3E%3C/svg%3E");
    ::-webkit-scrollbar {
        display: none;
    }
}

.popup-open {
    overflow: hidden;
}

/*#region projectsZone*/
section {
    @include size(100%, 100%);
    background-color: rgba($lightColor, .5);
    padding: 20px;
}

.sectionTopic {
    margin: 20px;
}

#projects {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projectBtn {
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-size: 20px;
    @include size(200px, 200px);
    min-width: 200px;
    color: $subColor2;
    padding: 15px;
    margin: 5px;
    border: 1px solid rgba($subColor2, .5);

    &:before,
    &:after {
        content: "";
        position: absolute;
        @include size(5px, 5px);
        transition: all .3s;
    }

    &:after {
        border-top: 2px solid $subColor2;
        border-right: 2px solid $subColor2;
        top: 0px;
        right: -1px;
    }

    &:before {
        border-bottom: 2px solid $subColor2;
        border-left: 2px solid $subColor2;
        bottom: 0px;
        left: -1px;
    }

    &:hover {
        cursor: pointer;

        &:before,
        &:after {
            @include size(80%, 80%);
        }
    }

    &:active {
        color: $lightColor;
        background-color: $subColor2;
    }
}

.codepen {
    color: $mainColor;
    border: 1px solid rgba($mainColor, .5);

    &:after {
        border-top: 2px solid $mainColor;
        border-right: 2px solid $mainColor;
    }

    &:before {
        border-bottom: 2px solid $mainColor;
        border-left: 2px solid $mainColor;
    }

    &:active {
        background-color: $mainColor;
    }
}
/*#endregion */


#projectInfo {
    position: fixed;
    top: 0px;
    left: 0px;
    @include size(100vw, 100vh);
    padding: 50px;
    text-align: center;
    color: $lightColor;
    background-color: rgba(#333, .7);
    display: none;

    .infoCloseBtn {
        position: fixed;
        top: 20px;
        right: 15px;
        border-radius: 3px;
        cursor: pointer;
        display: inline-block;
        padding: 7px 10px;
        text-align: center;
        vertical-align: top;
        font-size: 24px;

        &:hover {
            background-color: $lightColor;
            color: $subColor3;
        }

        &:active {
            background-color: $subColor3;
            color: $lightColor;
        }
    }

    .highLight{
        background-color: $lightColor;
        color: $subColor3;
    }

    .infoCloseArea {
        cursor: pointer;
        position: fixed;
        left: 0px;
        top: 0px;
        @include size(100%, 100%);
    }

    .scrollColumn{
        height: 100%;
        overflow-y: auto;
    }

    .infoWrap{
        height: 100%;
        display: flex;
        flex-direction:row;
        justify-content: space-around;
        align-items:flex-start;
        padding: 5px;
        background-color: rgba(#111,.1);
    }
    .columnLeft,
    .columnRight {
        vertical-align: top;
        text-align: center;
        margin: 0px 10px;
        padding: 5px;
        overflow-y: auto;
        //>400
        max-width: 50%;
        height: 100%;
    }

    #infoTopic {
        padding: 10px;
    }

    #infoImg {
        max-width: 80%;
        max-height: 70%;
    }

    #infoLinkBtn {
        -webkit-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;
        color: inherit;
        cursor: pointer;
        border: 1px solid $lightColor;
        border-radius: 3px;

        margin: 10px 0px;
        display: inline-block;
        padding: 7px 10px;
        text-decoration: none;

        &:before {
            content: "";
            position: absolute;
            left: 0px;
            display: flex;
            top: 0px;
            @include size(0%, 90%);
            transition: all .3s;
            overflow: hidden;
            border-radius: 3px;
            color: $lightColor;
        }

        &:hover {
            &:before {
                display: flex;
                justify-content: center;
                align-items: center;
                content: "新分頁";
                @include size(100%, 100%);
                background-color: $mainColor;
            }
        }

        &:active {
            background-color: $mainColor;
            border: 1px solid $mainColor;
            color: $lightColor;
        }
    }

    #infoText {
        letter-spacing: 1px;
        font-size: 18px;
        line-height: 30px;
        text-align: left;
    }
}


@media screen and (max-width: 768px){
    #projectInfo {
        .infoWrap{
            flex-direction:column;
            justify-content: center;
            height: fit-content;
        }
        
        .columnLeft,
        .columnRight {
            min-width: 100%;
        }

        #infoText {
            text-align: center;
        }
    }
    
}
